<h1>Запис</h1>
<%= render 'flash'%>
<div>
    <p>Посада - <%= Role.find(@user.role).title%><br>
    ПІБ - <%=@user.name%><br>
    Номер телефону  - <%=@user.phone%></p>
    <%= form_with model: @reception do |f| %>
    <div class="actions">
        <%= f.submit "Запис на прийом", data: {turbo: false} %>
        <%= button_to "Записатись до цього лікаря", "new_receptions", class: "btn btn-primary", remote: true%>
    </div>
    <%end%>
    
</div>